{% extends "base.html" %} {% load i18n %}

{% load static %}

{% block js_imports %}
  <script src="{% static 'chatbot/js/welcome.js' %}"></script>
{% endblock %}

{% block content %}
<div class='jumbotron text-center'>
  <h1>Informed Consent Form</h1>
</div>

</div>
<div class="container">
    <div class="row">
        <div class="offset-3 col-6">
                <p>Project Title: Interacting with an investment chatbot: online study.
                <br>Project ID No: UCLIC/1617/017/Staff Costanza/Nowacka/Yang</p>
                <p>This study has been approved by the UCL Interaction Centre (UCLIC) Research Department’s Ethics Chair, Rachel Benedyk.</p>

                <strong>Contact Details of Investigators.</strong>
                <div class="row">
                  <div class="col-6">
                    <P>Principal investigator:
                    <br>Dr. Enrico Costanza
                    <br>UCL Gower Street
                    <br>London WC1E 6BT
                    <br>United Kingdom
                    <br>+44 (0)20 7679 718
                    <br>email: e.costanza@ucl.ac.uk</P>
                  </div>
                  <div class="col-6">
                    <p>Co-investigator:
                    <br>Federico Milana
                    <br>UCL Gower Street
                    <br>London WC1E 6BT
                    <br>United Kingdom
                    <br>email: ucjufmi@ucl.ac.uk</p>
                  </div>
                </div>

                <strong>Investigator’s Statement.</strong>
                <p>I Federico Milana confirm that I have carefully explained the purpose of the study to the participant and outlined any reasonably foreseeable risks or benefits (where applicable).</p>

                <strong>Participant’s Statement.</strong>
                <p>I the Participant agree that I have:</p>
                <ol>
                    <li>Read the information sheet;</li>
                    <li>Had the opportunity to ask questions and discuss the study;</li>
                    <li>Received satisfactory answers to all my questions or have been advised of an individual to contact for answers to pertinent questions about the research and my rights as a participant and whom to contact in the event of a research-related injury.</li>
                    <li>I understand that I am free to withdraw from the study without penalty if I so wish. I understand that I consent to the processing of my personal information for the purposes of this study only. I understand that any such information will be treated as strictly confidential and handled in accordance with all protection legislation.</li>
                </ol>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="consentCheck">
                        <label class="form-check-label" for="consentCheck">I consent and agree to the terms (items 1-4) above.</label>
                    </div>
                <button class="btn btn-primary" id="continueButton" disabled>Begin Study</button>
                <br>
                <br>

        </div>
    </div>
</div>

{% endblock %}
