{% load static %}

<!doctype html>

<!-- Optional JavaScript -->

<script>var staticUrl = '{% static "" %}';</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'chatbot/js/base.js' %}" type="text/javascript" charset="utf-8"></script>

<script>
  var staticUrl = '{% static "" %}';
  window.IMG_URL = "{% static 'imagetagging/images/' %}";
  var server_url = 'http://{{ request.get_host }}';
  var username = "{{ request.user.username }}"
</script>


<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Chatbot</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link active">Month: <span id="month-number">{{ month_number }}</span>/5</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id='timer'></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">Available: £<span id="available-balance-amount">{{ available_balance_amount }}</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">Invested: £<span id="invested-balance-amount">{{ invested_balance_amount }}</span> <span id="parentheses">(<span id="invested-balance-change"></span>)</span></a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" id="investment-button">Investment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="imagetagging-button">Task</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class='text-center' id="content">
      {% block content %}{% endblock %}
    </div>

    {% block js_imports %}
    {% endblock %}

  </body>
</html>
