@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

/* * {
   outline: 1px solid red;
} */

#investment-button, #imagetagging-button {
 cursor: pointer;
}

body {
  background: #dedfe1;
  font-family: 'Open Sans', sans-serif;
}

.content-container {
  display: inline-block;
  padding: 15px;
  margin: 15px;
}

h5 {
  margin-top: 20px;
  margin-bottom: 18px;
}

.wrapper-followed-portfolio {
  padding: 5px;
}

.wrapper-not-followed-portfolio {
  padding: 5px;
}

.row-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.wrapper-portfolio {
  width: 50%;
}

.container-portfolio {
  width: 95%;
  display: inline-block;
  position: relative;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.img-container-portfolio {
  width: 33%;
  height: 100%;
  float: left;
  padding: 5px;
}

.img-container-portfolio img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.content-portfolio {
  position: absolute;
  width: 60%;
  /* height: 100%; */
  position: absolute;
  right: 0;
  box-sizing: border-box;
}

.head {
  /* padding-bottom: 30px; */
  text-align: left;
}

.head-portfolio p {
  text-align: left;
  font-size: 1vw;
  /* color: #444444; */
  font-weight: 600;
  margin-bottom: 0px;
}

.data {
  width: 90%;
  overflow: hidden;
}

.inner-data {
  width: 100%;
  text-align: left;
  font-size: 0.75vw;
}

.inner-data p {
  margin-bottom: 0rem;
}


/* newsposts */

.scrollable-newsposts {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 560px;
  overflow: auto;
  padding: 5px;
}

.wrapper-newspost {
  padding: 5px;
}

.img-container-newspost {
  width: 18%;
  height: 100%;
  float: left;
  padding: 5px;
}

.img-container-newspost img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.newspost-container {
  margin: 15px;
}

.container-newspost {
  /* width: 530px; */
  /* height: 112px; */
  display: inline-block;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
}

.content-newspost {
  width: 80%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  margin-left: 5px;
}

#text-newspost {
  font-size: 0.9vw;
  text-align: left;
  margin-bottom: 0px;
  margin-left: 5px;
}

/* image tagging */
#image-tagging-area {
  /* display: inline-block; */
  display: none;
  position: relative;
  width: 50%;
}

.img-fluid {
  width: 100%;
}

.btn-next-image {
  margin-top: 20px;
  margin-right: 15px;
  position:absolute;
  bottom: 0;
  right: 0;
}




/* chat */

#chat-div {
  width: 70%;
  display: inline-block;
  margin-top: 15px;
}

#send {
  font-size: 1.14vw;
  padding: 0px;
}

/* #chat-input {
  display: inline-block;
  width: 85%;
}

#send {
  float: right;
} */
